/* .header-item{
  height: 2px;
  width: 34px;
  background-color: #666;
  border-radius: 25px;
  margin: 15px 0;
  transition: all 0.3s ease;
}
.header-wrapper{
  cursor: pointer;
  margin-left: auto;
  margin-right: 0px;
}
.show-animate .line1{
  transform: translateY(8px) rotate(-45deg);
}
.show-animate .line2{
  transform: translateY(-8px) rotate(45deg);
} */

.p-header {
  background-color:#fff;
  width: 100%;
  height: 56px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  position: fixed;
}

.p-header-logo{
  padding: 10px 15px;
}

.nav-area {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 280px;
}
.menu-list {
  list-style: none;
  margin-top: 136px;
}
.menu-list li{
  padding-top: 24px;
}
.menu-list a {
  text-decoration: none;
  color: #333;
}

/* footer */
.p-footer{
  text-align: center;
}
.p-fixedLine{
  display: inline-block;
  text-align: center;
}
.p-fixedLine a{
  text-decoration: none;
}

.p-fixedLine-link{
  align-items: center;
  background-color: #5FDF5B;
  border-radius: 30px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 14px 20px 14px 24px;
  width: 274.5px;
  height: 20px;
}

.p-fixedLine-link .u-icon-line{
  font-size: 36px;
}

.p-fixedLine-link-text{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.14em;
  margin-left: 13px;
  text-align: left;
}

.p-fixedLine-link .u-icon-link{
  color: #fff;
  font-size: 18px;
  margin-left: 35px;
}

.l-footer-inner{
  bottom: 0;
}

.p-footer-siteinfo-link{
  color: #666;
  display: inline-block;
  font-size: 14px;
  line-height: 1.8;
  margin-top: 24px;
  text-decoration: none;
}

.p-footer-sns-list{
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 0px;
  margin-top: 32px;
}

.p-sns{
  display: flex;
}

.p-sns-item-link{
  align-items: center;
  border: solid 1px #eee;
  border-radius: 50%;
  color: #adadad;
  display: inline-flex;
  font-size: 24px;
  height: 50px;
  justify-content: center;
  width: 50px;
  text-decoration: none;
}
.p-sns-item{
  list-style: none;
}

.u-icon-link:before {
  content: "\e901";
  padding-top: 5px;
  padding-right: 5px; 
}
.u-icon-note:before {
  content: "\e902";
  margin-right: 18px;
}

.u-icon-line:before {
  background: radial-gradient(#fff 60%, transparent 60%);
  color: #00c300;
  content: "\e900";
}
.u-icon-line a{
  text-decoration: none;
}
.u-icon-instagram:before {
  content: "\ea92";
}
.u-icon-twitter:before {
  content: "\ea96";
}

/* font */
@font-face {
  font-display: inline-block;
  font-family: "posse-icon";
  font-style: normal;
  font-weight: normal;
  src: url("./img/posse-icon.ttf?bbqgr3") format("truetype"), url("./img/posse-icon.woff?bbqgr3") format("woff"), url("./img/posse-icon.svg?bbqgr3#posse-icon") format("svg");
}

i, .icomoon-liga {
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "posse-icon" ;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none;
}
